<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		h1 Салон красоты "Caramels"
		link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
		link(rel="stylesheet", href="css/main.css")
	body
		.line
		include includes/menu
		.line
		.OurWorks
			h2
				a(name="НашиРаботы") Наши работы
			.block1
				.block1-item
					img(src="img/Lips.jpeg")
				.block1-item
					img(src="img/MakeUp.jpeg")
				.block1-item
					img(src="img/Manicure.png")
				.block1-item
					img(src="img/lash.jpeg")
				.block1-item
					img(src="img/hair.jpeg")
				.block1-item
					img(src="img/lash2.png")
		.line
		.AboutUs
			.block1
				.block1-item1
					img(src="img/Studio.jpeg")
				.block1-item2
					h2
						a(name="ОНас") О нас
					p
						|Салон "Caramels" - уникальное пространство, где заботятся
						|о качестве проводимых услуг, поэтому в нашем салоне специалисты
						|имеют медицинское образование.<br>
					p
						|Наш салон открыл свои двери в 2018 году и за это время мы получили
						|множество положительных отзывов от клиентов, которым важен сервис
						|и качество услуг.<br>
					p
						|Главное - это наши клиенты! Выбирая процедуру, вы всегда можете
						|обратиться к нашим специалистам, которые проконсультируют вас по всем
						|вопросам и подберут для вас наиболее подходящий вариант.
		.line
		.Masters
			h2
				a(name="Мастера") Мастера
			.block1
				.block1-item
					a(href="MasterEkaterina.html" title="Нажмите, чтобы узнать больше об Екатерине")
						img(src="img/master1.jpeg")
					p Екатерина,<br>визажист
				.block1-item
					a(href="MasterAlex.html" title="Нажмите, чтобы узнать больше об Александре")
						img(src="img/master2.jpeg")
					p Александра,<br>парикмахер
				.block1-item
					a(href="MasterMarina.html" title="Нажмите, чтобы узнать больше о Марине")
						img(src="img/master3.jpeg")
					p Марина,<br>мастер маникюра
		.line
		include includes/menu
		.line