<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		h1 Салон красоты "Caramels"
		link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
		link(rel="stylesheet", href="css/main.css")
	body
		.line
		include includes/menu
		.line
		.MasterEkaterina
			.block1
				.block1-item1
					img(src="img/master1.jpeg")
				.block1-item2
					h2 Екатерина
					p
						|Как часто вы используете косметику? Едва ли кого-то удивит тот факт,
						|что ухоженный внешний вид не просто повышает настроение,
						|но и привлекает внимание окружающих. И чтобы выглядеть «на все сто»,
						|очень важно правильно нанести макияж.
					p
						|Визажист Екатерина может подобрать цветовую палитру для
						|каждого типа кожи, сгладить неровности и подчеркнуть вашу
						|природную красоту. С профессиональным мейкапом вы будете выглядеть
						|уместно на торжественном мероприятии, будь то корпоратив или
						|свадьба. Мастер выполняет дневной, вечерний, возрастной макияж.
		.line
		include includes/menu
		.line