<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		h1 Салон красоты "Caramels"
		link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
		link(rel="stylesheet", href="css/main.css")
	body
		.line
		include includes/menu
		.line
		.MasterAlex
			.block1
				.block1-item1
					img(src="img/master2.jpeg")
				.block1-item2
					h2 Александра
					p
						|Ни для кого не секрет, что новая стрижка может кардинально
						|преобразить человека. И этим мы обязаны людям одной из самых
						|востребованных профессий — парикмахерам.
					p
						|Александра — специалист в работе с волосами. Пройдя основное
						|обучение и базовую практику, она способна выполнить пожелания
						|клиента, будь то мелирование или женские стрижки.
					p
						|В арсенале каждого парикмахера присутствует большое количество
						|профессиональных хитростей, позволяющих добиться результата даже
						|на проблемных волосах. Александра сделает все возможное, чтобы
						|вы стали ее частым клиентом.
		.line
		include includes/menu
		.line