<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		h1 Салон красоты "Caramels"
		link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
		link(rel="stylesheet", href="css/main.css")
	body
		.line
		include includes/menu
		.line
		.MasterMarina
			.block1
				.block1-item1
					img(src="img/master3.jpeg")
				.block1-item2
					h2 Марина
					p
						|Очень педантичная, стремится все всегда довести до идеала.
					p
						|Поэтому геометрический дизайн, выполненный Мариной, всегда будет
						|самым ровным, словно его рисовали по крошечной линейке, а блики
						|на ногтях-идеальными!
					p
						|Постоянно обучается, как у тульских гуру маникюра, так и у
						|преподавателей из других городов.
					p
						|Владеет акварельной техникой, градиентом и ручной росписью,
						|поэтому способна нарисовать мини-шедевры на ваших ногтях.
					p
						|Маникюр с покрытием + френч сделает за 1,5 часа!
					p
						|Марина - главный генератор идей в салоне по закупкам материалов и
						|обустраиванию фотозоны для маникюра.
					p
						|Она очень серьезно относится к своей работе: всегда посоветует
						|как лучше сделать, чтобы маникюр был безупречным до следующей
						|коррекции, а потом уже доведёт работу до идеала.
		.line
		include includes/menu
		.line