.menu
    .menu-item
        a(href="index.html#НашиРаботы") Наши работы
    .menu-item
        a(href="index.html#ОНас") О нас
    .menu-item
        a(href="index.html#Мастера") Мастера
    .menu-item
        a(href="Services.html") Услуги